version: 2.2.1.{build}
skip_tags: true
max_jobs: 1
image: Visual Studio 2019
configuration: Release
platform: Any CPU
force_https_clone: true
nuget:
  account_feed: false
  project_feed: false
environment:
  NUGET_HOST: https://www.nuget.org
  NUGET_APIKEY: 
    secure: 0YmDwsXkCcGJvCPdJVgySxO3syRgy3KpqQnzUCJ3kXpURixOLz+FfiTkT3zS/KZ9
build: off
build_script:
- ps: >-
    dotnet build .\DynamicExpression.sln;
test: off
test_script:
- ps: >-
    dotnet test .\.tests\DynamicExpression.Test\DynamicExpression.Test.csproj
artifacts:
- path: '**\*.nupkg'
  name: NuGet Package
deploy:
- provider: NuGet
  server: $(NUGET_HOST)
  api_key: $(NUGET_APIKEY)
  on:
    branch: master